app:
  name: "Md Note"
  port: "9090"
  #  目录缓存更新间隔，单位分钟
  cache: 1
  #  首页欢迎内容，需要自带css样式
  home_content: ""
#  运行环境 local production
  env: "local"
md:
  path: "./md"
#  是否显示文档目录
  toc: false
  #  路由忽略文件
  ignore:
    - "."
    - ".gitignore"
    - ".git"
    - "images"
    - ".idea"
website:
  keywords: "markdown,note,笔记"
  description: "markdown note 是一款轻量的Markdown笔记工具，旨在快速构建笔记/博客程序"
  author: "jack&肉丝"
  icp: "蜀@123456789"
log:
#  日志存放位置
  path: "./logs"
#  日志名称
  name: "md_note.log"
#  日志等级 debug/info/warn/error
  level: "warn"
#  每个日志最大多少M
  max_size: 1
#  最大保存日志数
  max_backups: 2
#  最多保存多少天
  max_age: 1
#  是否压缩
  compress: false
