.main-content {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
    overflow: hidden;
    font-family: "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", monospace, Tahoma, STXihei, "鍗庢枃缁嗛粦", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "瀹嬩綋", Heiti, "榛戜綋", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

.main-content a {
    background: transparent;
}

.main-content a:active,
.main-content a:hover {
    outline: 0;
}

.main-content strong {
    font-weight: bold;
}

.main-content h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.main-content img {
    border: 0;
}

.main-content hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

.main-content pre {
    overflow: auto;
}

.main-content code,
.main-content kbd,
.main-content pre {
    font-family: "Meiryo UI", "YaHei Consolas Hybrid", Consolas, "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
    font-size: 1em;
}

.main-content input {
    color: inherit;
    font: inherit;
    margin: 0;
}

.main-content html input[disabled] {
    cursor: default;
}

.main-content input {
    line-height: normal;
}

.main-content input[type="checkbox"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.main-content table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main-content td,
.main-content th {
    padding: 0;
}

.main-content * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-content input {
    font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-content a {
    color: #4183c4;
    text-decoration: none;
}

.main-content a:hover,
.main-content a:active {
    text-decoration: underline;
}

.main-content hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}

.main-content hr:before {
    display: table;
    content: "";
}

.main-content hr:after {
    display: table;
    clear: both;
    content: "";
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
}

.main-content h1 {
    font-size: 30px;
}

.main-content h2 {
    font-size: 21px;
}

.main-content h3 {
    font-size: 16px;
}

.main-content h4 {
    font-size: 14px;
}

.main-content h5 {
    font-size: 12px;
}

.main-content h6 {
    font-size: 11px;
}

.main-content blockquote {
    margin: 0;
}

.main-content ul,
.main-content ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.main-content ol ol,
.main-content ul ol {
    list-style-type: lower-roman;
}

.main-content ul ul ol,
.main-content ul ol ol,
.main-content ol ul ol,
.main-content ol ol ol {
    list-style-type: lower-alpha;
}

.main-content dd {
    margin-left: 0;
}

.main-content code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.main-content pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.main-content .octicon {
    font: normal normal 16px octicons-anchor;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-content .octicon-link:before {
    content: '\f05c';
}

.main-content > *:first-child {
    margin-top: 0 !important;
}

.main-content > *:last-child {
    margin-bottom: 0 !important;
}

.main-content .anchor {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px;
}

.main-content .anchor:focus {
    outline: none;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}

.main-content h1 .octicon-link,
.main-content h2 .octicon-link,
.main-content h3 .octicon-link,
.main-content h4 .octicon-link,
.main-content h5 .octicon-link,
.main-content h6 .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle;
}

.main-content h1:hover .anchor,
.main-content h2:hover .anchor,
.main-content h3:hover .anchor,
.main-content h4:hover .anchor,
.main-content h5:hover .anchor,
.main-content h6:hover .anchor {
    padding-left: 8px;
    margin-left: -30px;
    text-decoration: none;
}

.main-content h1:hover .anchor .octicon-link,
.main-content h2:hover .anchor .octicon-link,
.main-content h3:hover .anchor .octicon-link,
.main-content h4:hover .anchor .octicon-link,
.main-content h5:hover .anchor .octicon-link,
.main-content h6:hover .anchor .octicon-link {
    display: inline-block;
}

.main-content h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

.main-content h1 .anchor {
    line-height: 1;
}

.main-content h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.main-content h2 .anchor {
    line-height: 1;
}

.main-content h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

.main-content h3 .anchor {
    line-height: 1.2;
}

.main-content h4 {
    font-size: 1.25em;
}

.main-content h4 .anchor {
    line-height: 1.2;
}

.main-content h5 {
    font-size: 1em;
}

.main-content h5 .anchor {
    line-height: 1.1;
}

.main-content h6 {
    font-size: 1em;
    color: #777;
}

.main-content h6 .anchor {
    line-height: 1.1;
}

.main-content p,
.main-content blockquote,
.main-content ul,
.main-content ol,
.main-content dl,
.main-content table,
.main-content pre {
    margin-top: 0;
    margin-bottom: 16px;
}

/*
.main-content hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}*/
.main-content ul,
.main-content ol {
    padding-left: 2em;
}

.main-content ul ul,
.main-content ul ol,
.main-content ol ol,
.main-content ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.main-content li > p {
    margin-top: 16px;
}

.main-content dl {
    padding: 0;
}

.main-content dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

.main-content dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.main-content blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}

.main-content blockquote > :first-child {
    margin-top: 0;
}

.main-content blockquote > :last-child {
    margin-bottom: 0;
}

.main-content table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.main-content table th {
    font-weight: bold;
}

.main-content table th,
.main-content table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.main-content table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.main-content table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.main-content img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-content code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

.main-content code:before,
.main-content code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

.main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.main-content .highlight {
    margin-bottom: 16px;
}

.main-content .highlight pre,
.main-content pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}

.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.main-content pre {
    word-wrap: normal;
}

.main-content pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.main-content pre code:before,
.main-content pre code:after {
    content: normal;
}

.main-content kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.main-content .pl-c {
    color: #969896;
}

.main-content .pl-c1,
.main-content .pl-mdh,
.main-content .pl-mm,
.main-content .pl-mp,
.main-content .pl-mr,
.main-content .pl-s1 .pl-v,
.main-content .pl-s3,
.main-content .pl-sc,
.main-content .pl-sv {
    color: #0086b3;
}

.main-content .pl-e,
.main-content .pl-en {
    color: #795da3;
}

.main-content .pl-s1 .pl-s2,
.main-content .pl-smi,
.main-content .pl-smp,
.main-content .pl-stj,
.main-content .pl-vo,
.main-content .pl-vpf {
    color: #333;
}

.main-content .pl-ent {
    color: #63a35c;
}

.main-content .pl-k,
.main-content .pl-s,
.main-content .pl-st {
    color: #a71d5d;
}

.main-content .pl-pds,
.main-content .pl-s1,
.main-content .pl-s1 .pl-pse .pl-s2,
.main-content .pl-sr,
.main-content .pl-sr .pl-cce,
.main-content .pl-sr .pl-sra,
.main-content .pl-sr .pl-sre,
.main-content .pl-src {
    color: #df5000;
}

.main-content .pl-mo,
.main-content .pl-v {
    color: #1d3e81;
}

.main-content .pl-id {
    color: #b52a1d;
}

.main-content .pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8;
}

.main-content .pl-sr .pl-cce {
    color: #63a35c;
    font-weight: bold;
}

.main-content .pl-ml {
    color: #693a17;
}

.main-content .pl-mh,
.main-content .pl-mh .pl-en,
.main-content .pl-ms {
    color: #1d3e81;
    font-weight: bold;
}

.main-content .pl-mq {
    color: #008080;
}

.main-content .pl-mi {
    color: #333;
    font-style: italic;
}

.main-content .pl-mb {
    color: #333;
    font-weight: bold;
}

.main-content .pl-md,
.main-content .pl-mdhf {
    background-color: #ffecec;
    color: #bd2c00;
}

.main-content .pl-mdht,
.main-content .pl-mi1 {
    background-color: #eaffea;
    color: #55a532;
}

.main-content .pl-mdr {
    color: #795da3;
    font-weight: bold;
}

.main-content kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.main-content .task-list-item {
    list-style-type: none;
}

.main-content .task-list-item + .task-list-item {
    margin-top: 3px;
}

.main-content .task-list-item input {
    float: left;
    margin: 0.3em 0 0.25em -1.6em;
    vertical-align: middle;
}

.main-content :checked + .radio-label {
    z-index: 1;
    position: relative;
    border-color: #4183c4;
}